.mytable{
    display: table;
    width:70%;
}

.mytable-header-cell{
    display:table-cell;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;

}

.mytable-row{
    display: table-row;
}

.mytable-cell{
    display: table-cell;
}